= semantic_form_for business do |f|
  - f.inputs do
    = f.input :name
    = f.input :street_address
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.input :phone_number, :as => :phone
    = f.input :twitter
    = f.buttons do
      = f.commit_button

