<% content_for :header_text do %>
  <h1>Verify A Business</h1>
  <p>Is this it? Let's make sure we've picked the right guys to blacklist.</p>
<% end %>

<p id="notice"><%= notice %></p>

<%= our_gmaps4rails(@json) %>

<%= render :partial => "attributes" -%>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
