<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @business.name %>
</p>

<p>
  <b>Street address:</b>
  <%= @business.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @business.city %>
</p>

<p>
  <b>State:</b>
  <%= @business.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @business.zip %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
