<% biz_presenter = Present(business) %>

<% content_for :header_text do %>
  <h1><%= biz_presenter.header_text -%></h1>
  <p><%= biz_presenter.header_description -%></p>
<% end %>

<p id="notice"><%= notice %></p>

<div class="complaint_process clearfix">
  <div style="height: 200px">
    <%= render :partial => "attributes" -%>
    <%= our_gmaps4rails(@json) %>
  </div>

  <%= biz_presenter.no_pledge -%>

  <% if business.complaints.present? -%>

   <% else %>
    <%= biz_presenter.no_complaints -%>
  <%- end -%>
</div>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
